* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(77,79,84);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header {
    width: 60%;
    border-radius: 12px;
    background:rgba(255,255,255, 0.2);
    margin: 20px auto 50px auto;
    padding: 5px;
}

.container {
    margin: 0 40px 40px 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
  }

h1, h2, h4 {
    color:#fff;
    padding: 2px;
    text-align: center;
}

.wrapper {
    height: 250px;
    width: 250px;
    background-color: rgb(184,233,253);
    box-shadow: -2px 2px 15px 0 rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    font-style: italic;
    position: relative;
}

.wrapper h5 {
    text-align: center;
    padding: 2px;
}

ul {
    padding-top: 10px;

}

img {
    height: 32px;
    width: 32px;
    position: absolute;
    left: 200px;
    bottom: 210px;
}
.Volenzo {
    height: 250px;
    width: 250px;
    background-color: rgb(2, 20, 27);
    color: white;
    box-shadow: -2px 2px 15px 0 rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    font-style: italic;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}
.Volenzo h5 {
    text-align: center;
    padding: 2px;
}
